anyio==4.13.0
anywidget==0.9.21
asgiref==3.11.1
asttokens==3.0.1
click==8.3.2
comm==0.2.3
contourpy==1.3.2
cycler==0.12.1
decorator==5.2.1
et_xmlfile==2.0.0
executing==2.2.1
fonttools==4.62.1
h11==0.16.0
htmltools==0.6.0
idna==3.11
importlib_metadata==8.7.1
ipython==8.39.0
ipywidgets==8.1.8
jedi==0.19.2
joblib==1.5.3
jupyter_core==5.9.1
jupyterlab_widgets==3.0.16
kiwisolver==1.5.0
linkify-it-py==2.1.0
markdown-it-py==4.0.0
matplotlib==3.9.4
matplotlib-inline==0.2.1
mdit-py-plugins==0.5.0
mdurl==0.1.2
narwhals==2.19.0
numpy==2.2.6
openpyxl==3.1.5
opentelemetry-api==1.40.0
orjson==3.11.8
packaging==26.0
pandas==2.2.3
parso==0.8.6
patsy==1.0.2
pexpect==4.9.0
pillow==12.2.0
platformdirs==4.9.4
plotly==6.6.0
prompt_toolkit==3.0.52
psygnal==0.15.1
ptyprocess==0.7.0
pure_eval==0.2.3
Pygments==2.20.0
pyparsing==3.3.2
pyreadr==0.5.4
python-dateutil==2.9.0.post0
python-multipart==0.0.24
questionary==2.1.1
scikit-learn==1.6.1
scipy==1.14.1
seaborn==0.13.2
setuptools==82.0.1
shiny==1.6.0
shinychat==0.2.9
shinyswatch==0.10.0
shinywidgets==0.7.1
six==1.17.0
stack-data==0.6.3
starlette==1.0.0
statsmodels==0.14.4
threadpoolctl==3.6.0
traitlets==5.14.3
typing_extensions==4.15.0
uc-micro-py==2.0.0
uvicorn==0.44.0
watchfiles==1.1.1
wcwidth==0.6.0
websockets==16.0
widgetsnbextension==4.0.15
zipp==3.23.0
